[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A minimalist IRC bot monitoring git repository activity
[access "refs/*"]
	owner = group user/Jérémie Galarneau (jgalar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jérémie Galarneau (jgalar)
	label-Verified = -1..+1 group user/Jérémie Galarneau (jgalar)
	push = group user/Jérémie Galarneau (jgalar)
	read = group user/Jérémie Galarneau (jgalar)
	rebase = group user/Jérémie Galarneau (jgalar)
	removeReviewer = group user/Jérémie Galarneau (jgalar)
	submit = group user/Jérémie Galarneau (jgalar)
[access "refs/heads/*"]
	create = group user/Jérémie Galarneau (jgalar)
	push = +force group user/Jérémie Galarneau (jgalar)
	pushMerge = group user/Jérémie Galarneau (jgalar)
	read = group user/Jérémie Galarneau (jgalar)
[access "refs/tags/*"]
	push = group user/Jérémie Galarneau (jgalar)
	push = +force group user/Jérémie Galarneau (jgalar)
